<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Delivery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/build/css/app.css">
</head>
<body>
    <header class="header contenedor">
        <div class="header__logo">
            <img src="../img/logo.svg" alt="logo deliveryapp">
        </div>
        <nav class="navegacion">
            <a href="" class="navegacion__link">Iniciar Sesión</a>
            <a href="" class="navegacion__link">Crear cuenta</a>
            <a href="" class="navegacion__link navegacion__link--registrar">Para restaurantes</a>
        </nav>
    </header>

    <section class="formulario">
        <div class="formulario__grid contenedor">
            <div class="formulario__contenido">
                <h2 class="formulario__heading">Encuentra y pide comida de tu restaurante favorito</h2>
                <form action="" class="formulario__buscar">
                    <div class="formulario__campo">
                        <label for="restaurante" class="formulario__label">Restaurante</label>
                        <input id="restaurante" type="text" class="formulario__input" placeholder="Tacos México">
                    </div>
                    <div class="formulario__campo">
                        <label for="platillo" class="formulario__label">Platillo</label>
                        <input id="platillo" type="text" class="formulario__input" placeholder="Pizza, Ensalada, Hamburguesa...">
                    </div>

                    <input class="formulario__submit" type="submit" value="Buscar">
                </form>
            </div>
            <div class="formulario__imagen">
                <img  src="../img/dibujo_repartidor.svg" alt="imagen repartidor">
            </div>
        </div>
    </section>

    <section class="pasos">
        <img class="pasos__wave" src="../img/wave.svg" alt="imagen wave">
        <div class="pasos__contenido contenedor">
            <h2 class="pasos__heading">¿Cómo funciona?<span>tan fácil como 1, 2 y 3</span></h2>
            <div class="pasos__grid">
                <div class="paso">
                    <picture>
                        <source srcset="../img/paso_1.avif" type="image/avif">
                        <source srcset="../img/paso_1.webp" type="image/webp">
                        <img class="paso__imagen" loading="lazy" src="../img/paso_1.png" alt="imagen paso app">
                    </picture>
                </div>
                <div class="paso">
                    <picture>
                        <source srcset="../img/paso_2.avif" type="image/avif">
                        <source srcset="../img/paso_2.webp" type="image/webp">
                        <img class="paso__imagen" loading="lazy" src="../img/paso_2.png" alt="imagen paso app">
                    </picture>
                </div>
                <div class="paso">
                    <picture>
                        <source srcset="../img/paso_3.avif" type="image/avif">
                        <source srcset="../img/paso_3.webp" type="image/webp">
                        <img class="paso__imagen" loading="lazy" src="../img/paso_3.png" alt="imagen paso app">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="testimoniales contenedor">
        <h2 class="testimoniales__heading">Testimoniales</h2>
        <div class="testimoniales__grid">
            <div class="testimonial">
                <header class="testimonial__header">
                    <div class="testimonial__imagen">
                        <picture>
                            <source srcset="../img/testimonial1.avif" type="image/avif">
                            <source srcset="../img/testimonial1.webp" type="image/webp">
                            <img loading="lazy" src="../img/testimonial1.jpg" alt="imagen testimonial">
                        </picture>
                    </div>
                    <div class="testimnonial__informacion">
                        <p class="testimonial__autor">Juan Perez</p>
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img class="testimonial__calificacion" loading="lazy" src="../img/estrellas.png" alt="">
                        </picture>
                    </div>
                </header>
                <blockquote class="testimonial__texto">
                    Una excelente app. Puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o efectivo según me convenga.
                </blockquote>
            </div>
            <div class="testimonial">
                <header class="testimonial__header">
                    <div class="testimonial__imagen">
                        <picture>
                            <source srcset="../img/testimonial2.avif" type="image/avif">
                            <source srcset="../img/testimonial2.webp" type="image/webp">
                            <img loading="lazy" src="../img/testimonial2.jpg" alt="imagen testimonial">
                        </picture>
                    </div>
                    <div class="testimnonial__informacion">
                        <p class="testimonial__autor">Cinthya V</p>
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img class="testimonial__calificacion" loading="lazy" src="../img/estrellas.png" alt="">
                        </picture>
                    </div>
                </header>
                <blockquote class="testimonial__texto">
                    Una excelente app. Puedo seleccionar de una gran cantidad de opciones 
                </blockquote>
            </div>
            <div class="testimonial">
                <header class="testimonial__header">
                    <div class="testimonial__imagen">
                        <picture>
                            <source srcset="../img/testimonial3.avif" type="image/avif">
                            <source srcset="../img/testimonial3.webp" type="image/webp">
                            <img loading="lazy" src="../img/testimonial3.jpg" alt="imagen testimonial">
                        </picture>
                    </div>
                    <div class="testimnonial__informacion">
                        <p class="testimonial__autor">Carlos Estrada</p>
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img class="testimonial__calificacion" loading="lazy" src="../img/estrellas.png" alt="">
                        </picture>
                    </div>
                </header>
                <blockquote class="testimonial__texto">
                    Una excelente app. Puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o efectivo según me convenga efectivo según me convenga. efectivo según me convengaefectivo
                </blockquote>
            </div>
            <div class="testimonial">
                <header class="testimonial__header">
                    <div class="testimonial__imagen">
                        <picture>
                            <source srcset="../img/testimonial4.avif" type="image/avif">
                            <source srcset="../img/testimonial4.webp" type="image/webp">
                            <img loading="lazy" src="../img/testimonial4.jpg" alt="imagen testimonial">
                        </picture>
                    </div>
                    <div class="testimnonial__informacion">
                        <p class="testimonial__autor">Silvia Ponce</p>
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img class="testimonial__calificacion" loading="lazy" src="../img/estrellas.png" alt="">
                        </picture>
                    </div>
                </header>
                <blockquote class="testimonial__texto">
                    Una excelente app. Puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o efectivo según me convenga.
                </blockquote>
            </div>
            <div class="testimonial">
                <header class="testimonial__header">
                    <div class="testimonial__imagen">
                        <picture>
                            <source srcset="../img/testimonial5.avif" type="image/avif">
                            <source srcset="../img/testimonial5.webp" type="image/webp">
                            <img loading="lazy" src="../img/testimonial5.jpg" alt="imagen testimonial">
                        </picture>
                    </div>
                    <div class="testimnonial__informacion">
                        <p class="testimonial__autor">Verónica Montes</p>
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img class="testimonial__calificacion" loading="lazy" src="../img/estrellas.png" alt="">
                        </picture>
                    </div>
                </header>
                <blockquote class="testimonial__texto">
                    Una excelente app. Puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o efectivo según me convenga.
                </blockquote>
            </div>
        </div>
    </section>

    <main class="favoritos">
        <h2 class="favoritos__heading">Restaurantes Favoritos</h2>
        <div class="favoritos__grid contenedor">
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
            <div class="favorito">
                <div class="favorito__grid">
                    <div class="favorito__imagen">
                        <picture>
                            <source srcset="../img/logo_ensaladas.avif" type="image/avif">
                            <source srcset="../img/logo_ensaladas.webp" type="image/webp">
                            <img loading="lazy" src="../img/logo_ensaladas.png" alt="logo restaurante">
                        </picture>
                    </div>
                    <div class="favorito__contenido">
                        <picture>
                            <source srcset="../img/estrellas.avif" type="image/avif">
                            <source srcset="../img/estrellas.webp" type="image/webp">
                            <img loading="lazy" src="../img/estrellas.png" alt="calificacion restaurante">
                        </picture>
                        <h3 class="favorito__nombre">Green Ensaladas</h3>
                        <p class="favorito__descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aperiam in nobis ut excepturi magnam, ipsam voluptas architecto expedita fugiat iusto, vero rerum natus molestias nulla. Dolorem eaque dicta eius.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <section class="repartidores">
        <h2 class="repartidores__heading">Gana dinero con AppComida</h2>
        <div class="repartidores__grid contenedor">
            <div class="repartidores__imagen">
                <picture>
                    <source srcset="../img/repartidor.avif" type="image/avif">
                    <source srcset="../img/repartidor.webp" type="image/webp">
                    <img loading="lazy" src="../img/repartidor.jpg" alt="imagen repartidor">
                </picture>
            </div>
            <div class="repartidores__contenido">
                <p class="repartidores__texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam nostrum deserunt dignissimos odio ad rerum exercitationem iure, dolore quo architecto. Itaque perferendis earum nulla ratione iusto fugit ipsam sit nostrum.</p>
                <p class="repartidores__texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit nam dolore ut odit voluptates voluptatem quidem fugit quam? Excepturi aspernatur rem odio dignissimos recusandae illum deserunt inventore ullam! Architecto, placeat!</p>
                <a href="" class="repartidores__enlace">Más información</a>
            </div>
        </div>
    </section>

    <section class="descargar">
        <div class="descargar__grid contenedor">
            <div class="descargar__imagen">
                <picture>
                    <source srcset="../img/app.avif" type="image/avif">
                    <source srcset="../img/app.webp" type="image/webp">
                    <img loading="lazy" src="../img/app.png" alt="imagen app">
                </picture>
            </div>
            <div class="tiendas">
                <h3 class="tiendas__heading">Descarga la app</h3>
                <p class="tiendas__texto">Disponible para Android y iOS</p>
                <div class="tiendas__grid">
                    <a href="" class="tiendas__enlace">
                        <img src="../img/tienda-apple.svg" alt="tienda apple">
                    </a>
                    <a href="" class="tiendas__enlace">
                        <img src="../img/tienda-android.svg" alt="tienda android">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__grid contenedor">
            <div class="footer__widget">
                <h3 class="footer__heading">Nosotros</h3>
                <p class="footer__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugiat reprehenderit, hic corporis velit, minus facilis quisquam ex neque perspiciatis optio atque. Iure et expedita tempore doloribus asperiores. Animi, laboriosam!</p>
            </div>
            <div class="footer__widget">
                <h3 class="footer__heading">Navegación</h3>
                <nav class="footer__nav">
                    <a href="" class="footer__link">Enlace 1</a>
                    <a href="" class="footer__link">Enlace 2</a>
                    <a href="" class="footer__link">Enlace 3</a>
                    <a href="" class="footer__link">Enlace 4</a>
                    <a href="" class="footer__link">Enlace 5</a>
                    <a href="" class="footer__link">Enlace 6</a>
                </nav>
            </div>
            <div class="footer__widget">
                <h3 class="footer__heading">Nosotros</h3>
                <p class="footer__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugiat reprehenderit, hic corporis velit, minus facilis quisquam ex neque perspiciatis optio atque. Iure et expedita tempore doloribus asperiores. Animi, laboriosam!</p>
            </div>
        </div>

        <p class="footer__copyright">Todos los derechos reservados</p>
    </footer>
</body>
</html>