.galeria__content {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.content__photo {
    overflow: hidden;
}
.content__photo img {
    object-fit: cover;
    width: 40rem;
    height: 40rem;
    transition: transform .5s ease;
}
.content__photo:hover img {
    transform: scale(1.07);
}
.content__photo:nth-child(1) {
    grid-row: span 2;
}
.content__photo:nth-child(4) {
    grid-column: span 2;
}
.content__photo:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
}
.content__photo:nth-child(8) {
    grid-column: span 2;
}

.content__photo:nth-child(1) img,
.content__photo:nth-child(5) img {
    height: 100%;
}
.content__photo:nth-child(4) img,
.content__photo:nth-child(5) img,
.content__photo:nth-child(8) img {
    width: 100%;
}

