.about__title {
    text-align: center;
}
.about__content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 4rem;
}
@media (min-width: 1200px) {
    .about__content {
        padding-right: 10rem;
        grid-template-columns: 1fr 2fr;
    }
}
.about__content--text {
    display: flex;
    flex-direction: column;
    justify-items: center;
}