@use '../base/mixins' as m;
@use '../base/variables' as v;

.busqueda {
    background-color: darken( v.$grisClaro, 5);
    padding: 4rem 0;

    &__heading {
        margin-top: 0;
        text-align: center;
        color: v.$gris;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include m.desktop {
        flex-direction: row;
        align-items: center;
    }
    &__campo {
        flex-grow: 1;
        padding: 1.5rem 4rem;
        border: none;
        color: v.$gris;
        background-color: v.$blanco;
        outline: none;
        color: v.$primario;
    }
    &__submit {
        @include m.boton(v.$primario, v.$blanco);
        margin: 0;
        @include m.tablet {
            width: fit-content;
            margin-left: auto;
            margin-right: 0;
        }
    }
}