@use '../base/mixins' as m;
@use '../base/variables' as v;
.contenido-principal {
    background-color: v.$blanco;
    padding: 2rem;
    @include m.tablet {
        padding: 10rem;
        margin-top: -20rem;
        position: relative;
    }
}