@use './variables' as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: v.$fuente-principal;
    line-height: 1.5;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
}
[class $="contenedor"],
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
[class $="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: v.$primary;
    margin: 5rem 0;
}