@use '../base/mixins' as m;
@use '../base/variables' as v;

.citas {
    background-image:
        image-set(
            url(../img/bg_citas.avif) 1x,
            url(../img/bg_citas.webp) 1x,
            url(../img/bg_citas.jpg) 1x,
        );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 10rem 0;
    &__heading {
        @include m.heading;
        margin-top: 0;
        color: v.$blanco;
        font-size: 6rem;
        line-height: 1;
    }
    &__texto {
        max-width: 60rem;
        margin: 0 auto;
        color: v.$blanco;
        line-height: 2;
    }
    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        padding: 2rem 10rem;
    }
}