@use '../base/mixins' as m;
@use '../base/variables' as v;

.navegacion {
    background-color: v.$primario;
    padding: .5rem 0;
    margin: 5rem 0;
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 200%;
        height: .3rem;
        border-top: .3rem dashed v.$blanco;
    }
    &::before {
        top: .3rem;
        left: 0;
        animation: animationBorderLeft 70s linear;
        animation-iteration-count: infinite;
    }
    &::after {
        bottom: .3rem;
        right: 0;
        animation: animationBorderRight 70s linear;
        animation-iteration-count: infinite;
    }
    @keyframes animationBorderLeft {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    @keyframes animationBorderRight {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(50%);
        }
    }
    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include m.tablet {
            flex-direction: row;
        }
        justify-content: space-evenly;
    }
    &__border {
        border-top: 3px dashed v.$blanco;
        border-bottom: 3px dashed v.$blanco;
        padding: 2rem 0;
    }
    &__enlace {
        color: v.$blanco;
        font-size: 2.4rem;
        font-weight: 700;
        position: relative;
        overflow: hidden;
        padding: .7rem 0;
        &::before {
            content: '';
            width: 100%;
            height: .5rem;
            background-color: v.$secundario;
            position: absolute;
            bottom: 0;
            display: block;
            transform: translateX(-101%);
            transition: transform .5s ease;
        }
        &:hover::before {
            transform: translateX(0%);
        }
    }
}