<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeti</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
    <header class="header contenedor">
        <div class="header__logo">
            <a href="index.html">
                <picture>
                    <source srcset="../img/logo.avif" type="image/avif">
                    <source srcset="../img/logo.webp" type="image/webp">
                    <img loading="lazy" src="../img/logo.png" alt="logo meeti">
                </picture>
            </a>
        </div>
        <nav class="nav">
            <a class="nav__enlace nav__enlace--crear">Crear Grupo</a>
            <a href="" class="nav__enlace--barra"></a>
            <a class="nav__enlace">Iniciar Sesión</a>
            <a class="nav__enlace">Registrarse</a>
        </nav>
    </header>

    <section class="hero">
        <h1 class="hero__texto">
            <span class="hero__texto--blue">Meeti</span>, la plataforma de las personas. Donde los intereses se convierten en <br>
            <span id="heroTextoModified" class="hero__texto--textModified">pasiones</span>
        </h1>
        <a href="" class="hero__enlace">Obtener una cuenta</a>
    </section>

    <div class="busqueda">
        <h2 class="busqueda__heading">Busca un grupo en tu ciudad</h2>
        <form action="" class="form contenedor">
            <select name="" id="" class="form__campo">
                <option>Programación</option>
                <option>Diseño</option>
                <option>Negocios</option>
                <option>Moda</option>
                <option>Ejercicio y Salud</option>
                <option>Fotografía</option>
                <option>Comida</option>
                <option>Diseño Interior</option>
                <option>Café</option>
                <option>Cine</option>
                <option>Libros</option>
                <option>Emprendimiento</option>
            </select>
            <input type="text" class="form__campo" placeholder="Nombre del Evento">
            <input type="text" class="form__campo" placeholder="Ciudad / País">
            <input type="submit" class="form__submit" value="Buscar">
        </form>  
    </div>

    <main class="eventos contenedor">
        <h2 class="eventos__heading">Próximos eventos</h2>
        <div class="swiper mySwiper">
            <div class="eventos__grid swiper-wrapper">
                <div class="evento swiper-slide">
                    <a href="meeti.html">
                        <picture>
                            <source srcset="../img/imagen1.avif" type="image/avif">
                            <source srcset="../img/imagen1.webp" type="image/webp">
                            <img class="evento__imagen" loading="lazy" src="../img/imagen1.jpg" alt="imagen meeti"->
                        </picture>
                        <div class="evento__contenido">
                            <p class="evento__fecha">Jueves 30 de Septiembre de 2022</p>
                            <h3 class="evento__nombre">Ideas de negocios</h3>
                            <div class="evento__autor">
                                <div class="evento__autor-imagen">
                                    <picture>
                                        <source srcset="../img/perfil1.avif" type="image/avif">
                                        <source srcset="../img/perfil1.webp" type="image/webp">
                                        <img loading="lazy" src="../img/perfil1.jpg" alt="imagen perfil">
                                    </picture>
                                </div>
                                <div class="evento__autor-informacion">
                                    <p class="evento__organizado-texto">Organizado por</p>
                                    <p class="evento__organizado-nombre">Morgan Rogers</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="evento swiper-slide">
                    <a href="meeti.html">
                        <picture>
                            <source srcset="../img/imagen2.avif" type="image/avif">
                            <source srcset="../img/imagen2.webp" type="image/webp">
                            <img class="evento__imagen" loading="lazy" src="../img/imagen2.jpg" alt="imagen meeti"->
                        </picture>
                        <div class="evento__contenido">
                            <p class="evento__fecha">Lunes 02 de Octubre de 2022</p>
                            <h3 class="evento__nombre">Bitcoin y Otras Criptos</h3>
                            <div class="evento__autor">
                                <div class="evento__autor-imagen">
                                    <picture>
                                        <source srcset="../img/perfil2.avif" type="image/avif">
                                        <source srcset="../img/perfil2.webp" type="image/webp">
                                        <img loading="lazy" src="../img/perfil2.jpg" alt="imagen perfil">
                                    </picture>
                                </div>
                                <div class="evento__autor-informacion">
                                    <p class="evento__organizado-texto">Organizado por</p>
                                    <p class="evento__organizado-nombre">Morgan Rogers</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="evento swiper-slide">
                    <a href="meeti.html">
                        <picture>
                            <source srcset="../img/imagen3.avif" type="image/avif">
                            <source srcset="../img/imagen3.webp" type="image/webp">
                            <img class="evento__imagen" loading="lazy" src="../img/imagen3.jpg" alt="imagen meeti"->
                        </picture>
                        <div class="evento__contenido">
                            <p class="evento__fecha">Miércoles 04 de Octubre de 2022</p>
                            <h3 class="evento__nombre">Pizza paso a paso</h3>
                            <div class="evento__autor">
                                <div class="evento__autor-imagen">
                                    <picture>
                                        <source srcset="../img/perfil1.avif" type="image/avif">
                                        <source srcset="../img/perfil1.webp" type="image/webp">
                                        <img loading="lazy" src="../img/perfil1.jpg" alt="imagen perfil">
                                    </picture>
                                </div>
                                <div class="evento__autor-informacion">
                                    <p class="evento__organizado-texto">Organizado por</p>
                                    <p class="evento__organizado-nombre">José Perez</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </main>

    <section class="categorias">
        <h2 class="categorias__heading">Categorías</h2>
        <div class="categorias__grid contenedor">
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_1.avif" type="image/avif">
                        <source srcset="../img/categoria_1.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_1.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Programación</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_2.avif" type="image/avif">
                        <source srcset="../img/categoria_2.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_2.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Diseño Xx y UI</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_3.avif" type="image/avif">
                        <source srcset="../img/categoria_3.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_3.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Negocios e Ideas</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_4.avif" type="image/avif">
                        <source srcset="../img/categoria_4.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_4.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Ropa y Moda</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_5.avif" type="image/avif">
                        <source srcset="../img/categoria_5.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_5.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Ejercicio y Bienestar</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_6.avif" type="image/avif">
                        <source srcset="../img/categoria_6.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_6.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Fotografía</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_7.avif" type="image/avif">
                        <source srcset="../img/categoria_7.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_7.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Comida</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_8.avif" type="image/avif">
                        <source srcset="../img/categoria_8.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_8.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Diseño Interior</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_9.avif" type="image/avif">
                        <source srcset="../img/categoria_9.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_9.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Café</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_10.avif" type="image/avif">
                        <source srcset="../img/categoria_10.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_10.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Cine</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_11.avif" type="image/avif">
                        <source srcset="../img/categoria_11.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_11.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Libros</h3>
            </div>
            <div class="categoria">
                <div class="categoria__img">
                    <picture>
                        <source srcset="../img/categoria_12.avif" type="image/avif">
                        <source srcset="../img/categoria_12.webp" type="image/webp">
                        <img loading="lazy" src="../img/categoria_12.jpg" alt="categoria imagen">
                    </picture>
                </div>
                <h3 class="categoria__nombre">Emprendimiento</h3>
            </div>
        </div>
    </section>

    <section class="grupos">
        <div class="grupos__grid contenedor">
            <div class="grupos__bloque">
                <h3 class="grupo_s_heading">Crea un grupo</h3>
                <p class="grupos__texto">Comparte lo que te gusta o tu pasión por los demás. Crea tu propio grupo y eventos. Hoy mismo, sin costos.</p>
            </div>
            <div class="grupos__bloque">
                <h3 class="grupos__heading">Únete a un grupo</h3>
                <p class="grupos__texto">Conoce personas con tus mismos gustos y pasiones. Únete a un grupo ya existente y asste a próximos eventos.</p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__contenedor contenedor">
            <nav class="nav">
                <a class="nav__enlace nav__enlace--crear">Crear Grupo</a>
                <a href="" class="nav__enlace--barra"></a>
                <a class="nav__enlace">Iniciar Sesión</a>
                <a class="nav__enlace">Registrarse</a>
            </nav>
        </div>
        <p class="copyright">Todos los derechos reservados</p>
    </footer>
    
    <!-- Typed JS -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>
</html>