<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeti</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches" rel="stylesheet">
</head>
<body>
    <header class="header contenedor">
        <div class="header__logo">
            <a href="index.html">
                <picture>
                    <source srcset="../img/logo.avif" type="image/avif">
                    <source srcset="../img/logo.webp" type="image/webp">
                    <img loading="lazy" src="../img/logo.png" alt="logo meeti">
                </picture>
            </a>
        </div>
        <nav class="nav">
            <a class="nav__enlace nav__enlace--crear">Crear Grupo</a>
            <a href="" class="nav__enlace--barra"></a>
            <a class="nav__enlace">Iniciar Sesión</a>
            <a class="nav__enlace">Registrarse</a>
        </nav>
    </header>

    <main class="meeti contenedor">
        <h1 class="meeti__nombre">Headless Wordpress con Next.js</h1>
        <div class="meeti__grid">
            <section class="meeti__informacion">
                <picture>
                    <source srcset="../img/meeti.avif" type="image/avif">
                    <source srcset="../img/meeti.webp" type="image/webp">
                    <img class="meeti__imagen" loading="lazy" src="../img/meeti.jpg" alt="imagen meeti">
                </picture>
                <p class="meeti__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, harum laboriosam! Aliquid accusamus obcaecati eum explicabo quo laborum, quas vero modi id, debitis libero odio molestiae voluptas, aspernatur asperiores facilis.</p>
                <p class="meeti__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, harum laboriosam! Aliquid accusamus obcaecati eum explicabo quo laborum, quas vero modi id, debitis libero odio molestiae voluptas, aspernatur asperiores facilis.</p>
                <p class="meeti__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, harum laboriosam! Aliquid accusamus obcaecati eum explicabo quo laborum, quas vero modi id, debitis libero odio molestiae voluptas, aspernatur asperiores facilis.</p>
                <p class="meeti__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, harum laboriosam! Aliquid accusamus obcaecati eum explicabo quo laborum, quas vero modi id, debitis libero odio molestiae voluptas, aspernatur asperiores facilis.</p>
                <p class="meeti__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, harum laboriosam! Aliquid accusamus obcaecati eum explicabo quo laborum, quas vero modi id, debitis libero odio molestiae voluptas, aspernatur asperiores facilis.</p>
                <p class="meeti__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, harum laboriosam! Aliquid accusamus obcaecati eum explicabo quo laborum, quas vero modi id, debitis libero odio molestiae voluptas, aspernatur asperiores facilis.</p>
                <p class="meeti__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, harum laboriosam! Aliquid accusamus obcaecati eum explicabo quo laborum, quas vero modi id, debitis libero odio molestiae voluptas, aspernatur asperiores facilis.</p>
            </section>
            <aside class="sidebar">
                <picture>
                    <source srcset="../img/mapa.avif" type="image/avif">
                    <source srcset="../img/mapa.webp" type="image/webp">
                    <img class="sidebar__mapa" loading="lazy" src="../img/mapa.jpg" alt="mapa imagen">
                </picture>
                <div class="sidebar__contenido">
                    <h3 class="sidebar__heading">Información Meeti</h3>
                    <p class="sidebar__texto">
                        <span class="sidebar__label">Fecha</span>
                        15 de agosto de 2022
                    </p>
                    <p class="sidebar__texto">
                        <span class="sidebar__label">Hora</span>
                        20:30
                    </p>
                    <p class="sidebar__texto">
                        <span class="sidebar__label">Ubicación</span>
                        Av. Vallarta 2032
                    </p>
                </div>
            </aside>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__contenedor contenedor">
            <nav class="nav">
                <a class="nav__enlace nav__enlace--crear">Crear Grupo</a>
                <a href="" class="nav__enlace--barra"></a>
                <a class="nav__enlace">Iniciar Sesión</a>
                <a class="nav__enlace">Registrarse</a>
            </nav>
        </div>
        <p class="copyright">Todos los derechos reservados</p>
    </footer>
</body>
</html>