@use '../base/mixins' as m;
@use '../base/variables' as v;

.footer {
    background-color: v.$primario;

    .footer-contenido {
        padding: 0 5rem 5rem 5rem;
        background-color: v.$blanco;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }
    .footer-box {
        font-family: v.$fuente_cursiva;
        text-align: center;
        h3 {
            font-family: v.$fuente_cursiva;
            margin: 0 0 1rem 0;
            font-size: 2.4rem;
            color: v.$secundario;
        }
        p, a {
            font-size: 2rem;
            margin: 0;
        }
        a {
            padding: 1rem;
            background-color: v.$secundario;
            border-radius: 1rem;
            color: v.$blanco;
            display: block;
            width: fit-content;
            margin: 0 auto;
        }   

    }
    .copyright {
        margin: 0;
        padding: 2rem;
        text-align: center;
        color: v.$blanco;
    }
}
