@use '../base/mixins' as m;
@use '../base/variables' as v;

.blog {
    &__grid {
        @include m.grid(1, 4rem);
        @include m.tablet {
            @include m.grid(2, 4rem);
        }
        @include m.desktop {
            @include m.grid(4, 4rem);
        }
        &--pagina {
            @include m.desktop {
                @include m.grid(3, 4rem);
            }
        }
    }
}

.entrada {
    max-width: 80rem;
    margin: 0 auto;
    &__contenido {
        padding: 2rem;
    }
    &__titulo {
        font-weight: 400;
        font-size: 2.8rem;
        margin: 0;
        line-height: 1.2;
    }
    &__fecha {
        font-size: 1.6rem;
        color: v.$primary;
        font-weight: 700;
    }
    &__texto {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        font-size: 1.6rem;
    }
    &__enlace {
        @include m.boton(transparent, darken(v.$primary, 10));
        transition: all .3s ease;
        &:hover {
            background-color: v.$negro;
            color: v.$blanco;
            border-color: v.$negro;
        }
        border: .4rem solid v.$primary;
        font-size: 1.8rem;
        text-align: center;
    }
}